:root {
  --primary: #0295A9;
  --primary-light: #12ADC1; 
  --secondary: #FDD037;
  --white: #E9EEF2;
  --beige: #EDE1CF;
  --gray: #F5F5F5;
  --max-width: 1200px;
  --header-height: 3rem;
}

html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: 300;
}

h2 {
  letter-spacing: 5px;
  font-size: 1.3rem;
  font-weight: 100;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1rem;
}
