.footer {
  background-color: var(--primary-light);
  padding-bottom: 3rem;
}

.footer small {
  color: var(--secondary);
}

.footer-content {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer-content {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
