.nav-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
}

.nav-logo img {
  width: 50%;
  height: auto;
}

.menu-btn {
  margin: .5rem;
  outline: thin solid var(--primary);
  background-color: var(--secondary);
  border: 0;
  border-radius: .2rem;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  background-color: var(--primary);
  transition: opacity .5s ease;
  pointer-events: none
}

.nav-menu.active {
  opacity: 1;
  pointer-events: auto;
}

.nav-menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--secondary);
}

.nav-menu a:hover {
  color: var(--white);
  background-color: var(--secondary);
}

@media screen and (min-width: 1024px) {
  .header {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    height: auto;
    z-index: 999;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .menu-btn {
      display: none;
  }

  .nav-bar {
      position: sticky;
      top: 0;
      height: var(--header-height);
      background-color: transparent;
    }
    
    .nav-menu {
      position: static;
      display: flex;
      flex-direction: row;
      pointer-events: visible;
      opacity: 1;
      background-color: transparent;
      width: auto;
  }

  .nav-menu a {
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--white);
    transition: color .3s ease-in;
  }

  .nav-menu a:hover {
    color: var(--secondary);
      background-color: transparent;
  }
}