.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.center {
  text-align: center;
}

.section {
  margin: 2rem 0;
}

.none {
  display: none;
}

.d-block {
  display: block;
}

.d-in-block {
  display: inline-block;
}

.btn {
  padding: .5rem .5rem;
  border-radius: .5rem;
  margin-top: .5rem;
  text-align: center;
  color: var(--white);
  text-decoration: none;
}

.btn-yw {
  background-color: var(--secondary);
  transition: background-color .4s ease-in-out;
}

.btn-yw:hover {
  background-color: var(--primary);
}

.btn-bl {
  background-color: var(--primary);
  transition: background-color .4s ease-in-out;
}

.btn-bl:hover {
  background-color: var(--secondary);
}

.al-rig {
  display: flex;
  justify-content: flex-end;
}